body {
    background: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive, sans-serif;
    font-size: 16px;
    letter-spacing: -0.6px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

div.criteria {
    text-align: left;
}

h1 {
    font-size: 100px;
    text-align: center;
    color: black;
    background: #408CCE;
    background: -moz-linear-gradient(left, #408CCE 0%, #05A2A4 50%, #89C586 100%);
    background: -webkit-linear-gradient(left, #408CCE 0%, #05A2A4 50%, #89C586 100%);
    background: linear-gradient(to right, #408CCE 0%, #05A2A4 50%, #89C586 100%);
}

h2, h3 {
    text-align: center;
    color: black;
}

a {
    color: blue;
}

ol {
    color: black;
    text-align: center;
    font-size: xx-large;
}

h1.BOTW {
    font-family: fantasy;
    text-align: center;
}

.BOTWimage {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#header-content {
    background-color: {{primary_color}};
    
    #menu-bar {
      display: flex;
      justify-content: space-evenly;
      max-width: 1024px;
      margin: auto;
  
      a {
        color: #ffffff;
      }
    
      a:hover {
        text-decoration: none;
      }
    }
  }