body {
    background: lightblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive, sans-serif;
    font-size: 16px;
    letter-spacing: -0.6px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: black;
    background: #408CCE;
    background: -moz-linear-gradient(left, #408CCE 0%, #05A2A4 50%, #89C586 100%);
    background: -webkit-linear-gradient(left, #408CCE 0%, #05A2A4 50%, #89C586 100%);
    background: linear-gradient(to right, #408CCE 0%, #05A2A4 50%, #89C586 100%);
}

h2, h3 {
    text-align: center;
    color: black;
}

a {
    color: blue;
}

footer {
    position: fixed;
    bottom: 0;
    left: 460px;
    right: 460px;
    padding: 3px;
    background-color: lightseagreen;
    color: black;
}

.about-words {
    font-size: x-large;
    text-align: center;
}

div.criteria {
    text-align: center;
    font-size: xx-large;
    color: red;
}

div.criteria-opener {
    color: black;
}

div.game-list {
    text-align: center;
    font-size: x-large;
}

h1.BOTW, h1.skyrim, h1.maplestory {
    font-family: fantasy;
    text-align: center;
    font-size: xx-large;
}

.BOTWimage, .skyrimimage, .maplestoryimage {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#botw-criteria, #skyrim-criteria, #maplestory-criteria{
    text-align: left;
    font-size: xx-large;
}

div p {
    font-size: large;
    word-spacing: 6px;
}
